{% extends 'base.html'%}
{% load static %}
{% block childpage %}

<!-- start heading -->
<div class="row heading text-center py-4">
    <div class="col-sm-6 mx-auto">
        <p class="fs-3"> Privacy <b class="txt-color1">policy </b></p></div>
    <i> Before going further kindly read the privacy policy of our company very carefully</i>
</div>
<!-- end heading-->
<div class="row">
  <div class="col-sm-10 mx-auto shadow-lg p-3 m-4">
   <h3> Privacy Policy Condition for Global India 24x7</h3>
   <h5> Data Retention and Deletion</h5>

At Global India 24x7, we are committed to safeguarding your privacy and ensuring that your personal data is kept secure. We retain the personal information you provide to us only for as long as necessary to fulfill the purposes outlined in this Privacy Policy or as required by law. Once the data is no longer needed, it will be securely deleted or anonymized. However, certain data may be retained for longer periods where required to comply with legal obligations, resolve disputes, or enforce our agreements.

You have the right to request the deletion of your personal data, subject to applicable legal requirements. If you wish to delete or update your information, please contact our support team at <a href="/contact/" style="text-decoration:none;color:black;">contact to <b>@globalindia24x7.com</b> </a> Please note that in some cases, deletion requests may impact your ability to access certain features or services on our platform.


  </div>
</div>
<!-- end heading-->
{% endblock %}